
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .list {
        padding: 9px 0;
      }
      .priority-TOP {
        background-color: red;
      }
      .priority-HIGH {
        background-color: orange;
      }
      .priority-LOW {
        background-color: #7cbe7c;
      }
      .priority-BOTTOM {
        background-color: green;
      }

      .task-details h3 {
        margin-top:0;
      }
      .ac-icon {
        background-image: url("img/activecollab.png");
        width: 20px;
        height: 16px;
        display: inline-block;
      }