
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.list {
  padding: 9px 0;
}
.priority-TOP {
  background-color: red;
}
.priority-HIGH {
  background-color: orange;
}
.priority-NONE {
  background-color: #ddd;
}
.priority-LOW {
  background-color: #7cbe7c;
}
.priority-BOTTOM {
  background-color: green;
}

.task-details h3 {
  margin-top:0;
}
.ac-icon {
  background-image: url("img/activecollab.png");
  width: 20px;
  height: 16px;
  display: inline-block;
}
.label {
  text-shadow: none;
  font-size: 0.6em;
}
.initials {
  width: 13px;
  max-width: 13px;
  text-align: center;
}
.ac-label {
  width: 50px;
  max-width: 50px;
  text-align: center;
}