<div class="container-fluid" ng-controller="CombinedListCtrl">
  <div class="row-fluid">
    <div class="span3">
      <div class="list">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a href="" class="brand">Projects</a>
              <ul class="nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Filter
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><span>Search:</span><input ng-model="projectQuery" /></li>
                    <li><span>Category:</span><select ng-model="selectedProjectCategory" ng-options="n.id as n.name for n in projectcategories"></select></li>
                    <li><span>Label:</span><select ng-model="selectedProjectLabel" ng-options="n.id as n.name for n in projectlabels"></select></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="" ng-click=""><i class="icon-refresh"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="project in projects | filter:{name:projectQuery,  is_completed:'0', is_archived:'0', label_id:selectedProjectLabel, category_id:selectedProjectCategory} | orderBy:projectOrder" ng-class="{active: selectedProject==project}" class="ng-mouseover: {over};">
           <a ng:click="selectproject(project)">{{project.name}}</a>
          </li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="row-fluid">
        <div class="span12">
          <div class="list">

          <div class="hero-unit" ng-show="selectedTask">
            <h3>{{selectedTask.name}}</h3>
            <p>{{selectedTask.body}}</p>

            <div class="span4">
              <p>test content</p>
            </div>
            <div class="span4">
              <p>test content</p>
            </div>

            <div class="btn-group">
              <a class="btn" ng-click="selectedTask=''">Close &raquo;</a><a class="btn btn-primary">Update &raquo;</a>
            </div>
          </div>

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a href="" class="brand">Tasks</a>
                  <ul class="nav">
                   <!--  <li ng-class="{active: selectedTaskAssignee=={{me.id}}}"><a href='' ng-click="selectedTaskAssignee = !selectedTaskAssignee;">My Tasks</a></li> -->
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Order by
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li ng-class="{active: taskOrder=='priority', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'priority'; taskReverse=!taskReverse">Priority <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='milestone', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'milestone'; taskReverse=!taskReverse">Milestone <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='assignee_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'assignee_id'; taskReverse=!taskReverse">Assignee <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='category_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'category_id'; taskReverse=!taskReverse">Category <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='label_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'label_id'; taskReverse=!taskReverse">Label <span class="caret"></span></a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Filter
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><span>Just My Tasks:</span><input type="checkbox" ng-model="selectedTaskAssignee" ng-true-value="{{me.id}}" ng-false-value=""></li>
                        <li><span>Search:</span><input ng-model="taskQuery" /></li>
                        <li><span>Priority:</span><select ng-model="selectedTaskPriority">
                          <option value="">ALL</option>
                          <option value="TOP">Highest</option>
                          <option value="HIGH">High</option>
                          <option value="NONE">None</option>
                          <option value="LOW">Low</option>
                          <option value="BOTTOM">Lowest</option>
                        </select></li>
                        <li><span>Label:</span><select ng-model="selectedTaskLabel" ng-options="n.id as n.name for n in tasklabels"></select></li>
                        <li><span>Category:</span><select ng-model="selectedTaskCategory" ng-options="n.id as n.name for n in taskcategories"></select></li>
                        <li><span>Completed:</span><input type="checkbox" ng-model="selectedTaskComplete" ng-true-value="1" ng-false-value="0"></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav pull-right">
                    <li><a href="" ng-click=""><i class="icon-refresh"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="task in tasks | filter:{name:taskQuery,  is_completed:selectedTaskComplete, label_id:selectedTaskLabel, category_id:selectedTaskCategory, priorityName:selectedTaskPriority} | orderBy:taskOrder:taskReverse" ng-class="{active: selectedTask==task}">
               <task-list-item task="task"></task-list-item>
              </li>
            </ul>
          </div><!--/.well -->
          
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->



  <hr>

  <footer>
    <p>ActiveCollab Tasker: v<span app-version></span></p>
  </footer>

</div>

