<div class="container-fluid" ng-controller="CombinedListCtrl">
  <div class="row-fluid">
    <div class="span3">
      <div class="list">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a href="" class="brand">Projects {{selectedProjectCategory}}</a>
              <ul class="nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Filter
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <!--       <li><span>Search:</span><input ng-model="projectQuery" /></li> -->
                    <li ng-class="{active: selectedProjectCategory!=''}" class="dropdown-submenu">
                      <a tabindex="-1" href="">Category</a>
                      <ul class="dropdown-menu">
                        <li ng-repeat="category in projectcategories" ng-class="{active: selectedProjectCategory==category.id}"><a ng-click="selectedProjectCategory=category.id" href="">{{category.name}}</a></li>
                      </ul>
                    </li>
                    <li ng-class="{active: selectedProjectLabel!=''}" class="dropdown-submenu">
                      <a tabindex="-1" href="">Label</a>
                      <ul class="dropdown-menu">
                        <li ng-repeat="label in projectlabels" ng-class="{active: selectedProjectLabel==label.id}"><a ng-click="selectedProjectLabel=label.id" href="">{{label.name}}</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="" ng-click=""><i class="icon-refresh"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="project in projects | filter:{is_completed:'0', is_archived:'0', label_id:selectedProjectLabel, category_id:selectedProjectCategory} | orderBy:projectOrder" ng-class="{active: selectedProject==project}">
           <a ng:click="selectproject(project)">{{project.name}}<!--  <ac-link class="pull-right" item="project"> --></a>
          </li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="row-fluid">
        <div class="span12">
          <div class="list">

          <div class="well task-details" ng-show="selectedTask">
            <button class="close pull-right" ng-click="selectedTask=''">&times;</button>
            <h3>{{selectedTask.name}}</h3>

            <p>{{selectedTask.body}}</p>

            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="comment in comments">
               <p>{{comments.body}}</p>
              </li>
            </ul>

            <hr />
            <form class="form-inline">
              <div class="span3">
                <label class="control-label input-min">Assigned to</label>
                <select ng-model="selectedTask.assignee_id" ng-options="n.id as n.short_display_name for n in taskpeople" class="input-small"></select>
              </div>
              <div class="span3">
                <label class="control-label input-min">Label</label>
                <select ng-model="selectedTask.label_id" ng-options="n.id as n.name for n in tasklabels" class="input-small"></select>
              </div>
              <div class="span3">
                <label class="control-label input-min">Priority</label>
                <select ng-model="selectedTask.priority" class="input-small">
                  <option value="2">Highest</option>
                  <option value="1">High</option>
                  <option value="0">None</option>
                  <option value="-1">Low</option>
                  <option value="-2">Lowest</option>
                </select>
              </div>
              <div class="span3">
                <label class="control-label input-min">Category</label>
                <select ng-model="selectedTask.category_id" ng-options="n.id as n.name for n in taskcategories" class="input-small"></select>
              </div>
            </form>
            <div class="btn-toolbar pull-right">
              <button class="btn" ng-click="selectedTask=''">Close</button>
              <button class="btn btn-primary" ng-click="updatetask(selectedTask)">Update</button>
            </div>

            <div class="clearfix"></div>
          </div>

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a href="" class="brand">Tasks</a>
                  <ul class="nav">
                   <!--  <li ng-class="{active: selectedTaskAssignee=={{me.id}}}"><a href='' ng-click="selectedTaskAssignee = !selectedTaskAssignee;">My Tasks</a></li> -->
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Order by
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li ng-class="{active: taskOrder=='priority', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'priority'; taskReverse=!taskReverse">Priority <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='milestone', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'milestone'; taskReverse=!taskReverse">Milestone <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='assignee_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'assignee_id'; taskReverse=!taskReverse">Assignee <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='category_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'category_id'; taskReverse=!taskReverse">Category <span class="caret"></span></a></li>
                        <li ng-class="{active: taskOrder=='label_id', dropup: taskReverse==false}"><a href="" ng-click="taskOrder = 'label_id'; taskReverse=!taskReverse">Label <span class="caret"></span></a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Filter
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><span>Just My Tasks:</span><input type="checkbox" ng-model="selectedTaskAssignee" ng-true-value="{{me.id}}" ng-false-value=""></li>
                        <li><span>Priority:</span><select ng-model="selectedTaskPriority">
                          <option value="">ALL</option>
                          <option value="TOP">Highest</option>
                          <option value="HIGH">High</option>
                          <option value="NONE">None</option>
                          <option value="LOW">Low</option>
                          <option value="BOTTOM">Lowest</option>
                        </select></li>
                        <li><span>Label:</span><select ng-model="selectedTaskLabel" ng-options="n.id as n.name for n in tasklabels"></select></li>
                        <li><span>Category:</span><select ng-model="selectedTaskCategory" ng-options="n.id as n.name for n in taskcategories"></select></li>
                        <li><span>Completed:</span><input type="checkbox" ng-model="selectedTaskComplete" ng-true-value="1" ng-false-value="0"></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav pull-right">
                    <li>
                      <form class="navbar-search">
                        <input ng-model="taskQuery" class="search-query" placeholder="Filter" />
                      </form>
                    </li>
                    <li><a href="" ng-click=""><i class="icon-refresh"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="task in tasks | filter:{name:taskQuery,  is_completed:selectedTaskComplete, label_id:selectedTaskLabel, category_id:selectedTaskCategory, priorityName:selectedTaskPriority} | orderBy:taskOrder:taskReverse" ng-class="{active: selectedTask==task}">
               <task-list-item task="task"></task-list-item>
              </li>
            </ul>
          </div><!--/.well -->
          
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->



  <hr>

  <footer>
    <p>ActiveCollab Tasker: v<span app-version></span> spc:{{selectedProjectCategory}}</p><select ng-model="selectedProjectCategory" ng-options="n.id as n.name for n in projectcategories"></select>
  </footer>

</div>

