Enter your ActiveCollab credentials below
<form ng-controller="AuthCtrl" class="form-horizontal">
  <div auth />

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email" ng-model="newEmail">
      <span class="help-inline">This is the email you use to sign in to ActiveCollab</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" ng-model="newPassword">
      <span class="help-inline">Your ActiveCollab password</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Domain</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="Domain" ng-model="newUrl">
      <span class="help-inline">This is the URL of your ActiveCollab installation</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">API Key</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="API Key" ng-model="newKey"  disabled>
      <span class="help-inline">This is how we connect to ActiveCollab - we'll grab it for you and save it locally</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" ng-click="login()">Sign in</button>
    </div>
  </div>
</form>